#{extends 'main.html' /}
#{set title:'Dashboard' /}

#{menu id:"admin"/}

<section class="ui segment">
    <h2 class="ui header">
        All Known Assessments in the Database:
    </h2>
    <table class="ui fixed table">
        <thead>
        <tr>
            <th>Weight</th>
            <th>Chest</th>
            <th>Thigh</th>
            <th>UpperArm</th>
            <th>Waist</th>
            <th>Hips</th>
        </tr>
        </thead>
        <tbody>
        #{list items:assessmentList, as:'assessments'}
        <tr>
            <td>
            ${assessments.weight}
            </td>
            <td>
            ${assessments.chest}
            </td>
            <td>
            ${assessments.thigh}
            </td>
            <td>
            ${assessments.upperArm}
            </td>
            <td>
            ${assessments.waist}
            </td>
            <td>
            ${assessments.hips}
            </td>
        </tr>
        #{/list}
        </tbody>
    </table>
</section>

